/* CSS DOCUMENT */
@charset "UTF-8";

@font-face {
    font-family: "Cambria";
    src: url("fonts/cambriab.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mont-Heavy";
    src: url("fonts/Mont-HeavyDEMO.otf") format("truetype");
    font-weight:bolder;
    font-style: normal;
}

h1 {
    font-family: "Cambria", serif;
}
h2 {
    font-family: "Mont", sans-serif
}
/*aca  se aplican los colores y ubican los textos*/

h1{
    font-family:  "Cambria", serif;
    color: rgb(17, 143, 59);
}
h2{
    font-family: "Mont-Heavy", sans-serif;
    color: aqua;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 3rem;
}
h1,h2,p{
    text-align:left;
}